@import url("../sources/myriad-pro-webfont/fonts.css");

html {
    font-family: 'Myriad Pro Regular';
}

body {
    margin: 0;
}

.preloader {
    margin: 0;
    background-image: url(../sources/img/pexels-pixabay-159400@2x.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    animation: preloaderAnimation 1s ease 5s forwards;
}

@keyframes preloaderAnimation {
    0% {}

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logoInicio {
    position: absolute;
    max-width: 70%;
    width: 230px;
    height: 200px;
    opacity: 0;
    animation: logo 5s ease forwards;
}

@keyframes logo {
    0% {
        opacity: 0;
        display: none;
    }

    75% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
    }
}

.welcome {
    max-width: 90%;
    width: 936px;
    max-height: 90%;
    height: 549px;
    border: 1px solid #707070;
    border-radius: 67px;
    padding: 2vw;
    opacity: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: signIn 4s ease forwards;
}

@media only screen and (max-width:950px){
    .welcome{
    border-radius: 7vi;
    }
}

@keyframes signIn {
    15% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.logoLogin {
    width: 103px;
    height: 116px;
    margin-top: 5%;
}

.titulo {
    margin: 0;
    margin-top: 2rem;
    text-align: center;
    font-size: 40px;
}

.piePag {
    margin: 2rem;
    font-family: 'Myriad Pro Light';
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #fff;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

/* Header design */
header {
    height: 81.5px;
    border-bottom: 0.5px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2vw;
}

header a {
    text-decoration: none;
}

header p {
    color: #000;
    size: 24px;
    margin: 0;
}

.perfil {
    width: 53px;
    height: 53px;
}

.notifi {
    width: 21px;
    height: 20px;
}

.setting {
    width: 19px;
    height: 19px;
}

.imgs {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.headerCenter {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCenter img {
    width: 42px;
    height: 37px;
}

.leftOpcs,
.rightOpcs {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.opc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opc1 img {
    width: 31px;
    height: 31px;
}

.opc2 img {
    width: 27px;
    height: 27px;
}

.opc3 img {
    width: 25px;
    height: 32px;
}

.opc4 img {
    width: 34px;
    height: 38px;
}

.opc5 img {
    width: 34px;
    height: 34px;
}

/* Header design */

/* Main content */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    background-color: white;
    min-height: 1200px;
}


.titleMain {
    font-size: 40px;
    margin: 1vw 0;
    text-align: center;
}

main p {
    font-family: 'Myriad Pro Light';
    font-size: 24px;
    text-align: center;
}

a {
    transition: transform 0.2s ease;
}

a:hover {
    transform: translateY(-2px);
}

/* Indicadores */

.hamburguesita{
    display: none;
    width: 36px;
    height: 31px;
    cursor: pointer;
    padding: 0.5vi;
    border: 2px solid #000;
    border-radius: 0.5vi;
}

.indicadores, .indicadoresPhone {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.tbody {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.thead {
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
}

.indicadores .thead .contain-th img {
    width: 36px;
    height: 31px;
    opacity: 0;
}

.indicadores .tbody .contain-tr img {
    width: 36px;
    height: 31px;
    cursor: pointer;
}

.tr p,
.th p {
    font-family: 'Myriad Pro Regular';
    margin: 0;
}

.contain-tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.contain-th {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.thead .th {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.tbody .tr {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 2fr 1fr 1fr 1fr 1fr;
    border: 1px solid #000;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 81px;
}

.indicadoresPhone{
    display: none;
}

/* Indicadores */

.buttonMain {
    width: 336px;
    height: 70px;
    background-color: #ff7221;
    border: none;
    border-radius: 50px;
}

button p {
    color: #fff;
    font-family: 'Myriad Pro Regular';
    font-size: 24px;
    margin: 0;
    cursor: pointer;
}

@media only screen and (max-width:1570px) {
    .indicadores{
        display: none;
    }

    .indicadoresPhone{
        display: flex;
    }

    .indicadoresPhone .tbody .tr {
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        border-radius: 30px;
        height: auto;
        width: fit-content;
        padding: 1rem;
    }    
    
    .indicadoresPhone .tbody .contain-tr img {
        display: none;
    }

    .indicadoresPhone .th{
        color: #606060;
        align-self: start;
    }
}

@media only screen and (max-width:800px) {
    .leftOpcs,
    .rightOpcs {
        display: none;
    }
    .hamburguesita{
        display: flex;
    }
}

/*Main containt*/

/* Botones*/
.btn {
    padding: 15px 30px;
    background-color: #FE702E;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 1px solid #FE702E;
    transition: all 0.3s ease;
    margin: auto;
    cursor: pointer;
    display: flex;
    text-align: center;
    font-size: 25px;

}


/*Cerrar modal*/
.cerrar_modal {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    padding-right: 1vw;
}


/* Módulo Modal */
.modal_general {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0;
    flex-grow: 1;
    display: none;
}

.modal_general img {
    width: 42px;
    height: 37px;
    margin: 10px;
    display: flex;
    align-items: center;

}


.modal_general:target .modal_añadir {
    transform: scale(1);
}

.modal_general:target .modal_reportar {
    transform: scale(1);
}
.modal_general:target .modal_ayuda{
    transform: scale(1);
}

.modal_añadir {
    background-color: #ffffff;
    border: 2px solid black;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    transform: scale(0.7);
    display: flex;
    z-index: 3;
    transition: transform 0.5s ease;
    font-family: 'Myriad Pro Regular' ;
    font-size: 24px;
    padding-bottom: 2vh;
/**/

}

.modal_header {
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centered{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centered h3{
    margin: 0;
}

.modal_añadir input {
    border-radius: 25px;
    display: flex;
    text-align: center;
    gap: 100px;
    width: 40vw;
    height: 2vw;
    border: #D9D9D9;
    background-color: #D9D9D9;
    font-size: 20px;
    margin: 8px;

}

.modal_añadir label {
    display: flex;
    text-align: center;
    font-size: 130%;
    
} 

.modal_reportar{
    background-color: #ffffff;
    border: 2px solid black;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    transform: scale(0.7);
    display: flex;
    z-index: 3;
    transition: transform 0.5s ease;
    padding-bottom: 2vh;
}


.name{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}

.correo{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.cel{
    display: flex;
    align-items: center;
    gap: 1vw;
    
}
.motivo {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.motivo .motivo_cuadro {
    height: 15vh;
    
}
.modal_contain{
    font-family: 'Myriad Pro Regular' ;
    font-size: 20px;
    
}

.modal_contain label{
    width: 18rem;
    text-align: center;
    font-size: 122%;
}
    

.modal_contain input{
    border-radius: 25px;
    flex-grow: 1;
    display: flex;
    width: 35vw;
    height: 2.5vw;
    border: #D9D9D9;
    background-color: #D9D9D9;
    font-size: 20px;
    gap: 1vw;
    margin: 1vw;

}
h1{
    text-align: center;
}

/*Modulo de AYUDA*/
.modal_ayuda{
    background-color: #ffffff;
    border: 2px solid black;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    transform: scale(0.7);
    display: flex;
    z-index: 3;
    transition: transform 0.5s ease;
    padding-bottom: 2vh;
    
}

/*Confirmacion modulos*/
.modal_seguro{
    background-color: #ffffff;
    border: 2px solid black;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    transform: scale(0.7);
    display: flex;
    z-index: 6;
    transition: transform 0.5s ease;
    padding-bottom: 2vh;
}

.modal_seguro strong{
    text-align: center;
    margin: 5vw;
    font-family: 'Myriad Pro Regular';
    font-size: 45px;
    width: 30rem;
}

.botones{
    display: flex;
    gap: 5vw;
}
