@import url("../sources/myriad-pro-webfont/fonts.css");

html{
    font-family: 'Myriad Pro Regular';
}

body{
    margin: 0;
    background-image: url(../sources/img/pexels-pixabay-159400@2x.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logoInicio{
    position: absolute;
    max-width: 70%;
    width: 230px;
    height: 200px;
    opacity: 1;
    animation: logo 2s ease forwards;
    animation-delay: 1s;
}

@keyframes logo {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.signIn{
    max-width: 90%;
    width: 836px;
    max-height: 90%;
    height: 661px;
    padding: 2vw;
    border: 1px solid #707070;
    border-radius: 4vi;
    opacity: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: signIn 3.5s ease forwards;
}

@keyframes signIn {
    0%{
        opacity: 0;
        display: none;
    }
    80%{
        opacity: 0;
        display: none;
    }
    100%{
        opacity: 1;
    }
}

.logoLogin{
    width: 103px;
    height: 116px;
    margin-top: 1vh;
}

.titulo{
    margin: 0;
    margin-top: 1vh;
    text-align: center;
    font-size: 40px;
}

label{
    display: block;
    margin-top: 1vh;
    font-family: 'Myriad Pro Light';
    font-size: 25px;
    max-width: 90%;
    width: 650px;
}

p{
    margin: 1vh 0;
    font-family: 'Myriad Pro Light';
    font-size: 20px;
    text-align: center;
}


input{
    border: 1px solid #707070;
    border-radius: 20px;
    max-width: 90%;
    width: 635px;
    height: 50px;
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    padding-left: 15px;
}

button{
    padding: 0;
    margin: 2vh 0;
    background-color: rgba(254, 112, 46, 1);
    border: 0;
    border-radius: 40px;
    max-width: 90%;
    width: 336px;
    height: 70px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.piePag{
    font-size: 15px;
}